//////////:::: VARS :::: /////////////

$brandPrimary: #444;
$brandSecondary: #888;
$black: #000;
$white: #fff;



///////////////::::::: BASE :::::::::: //////////////

html, body {
  width: 100%;
  height: 100%;
  background-color: skyblue;
}
h1{
 text-align: center;
}
